 <div class="reggae-body">
 <!--		<% @punctuation=['.', '!', '!!', '!!!', ', mon.', ', mon!', ', JAH!!'].sample %>  -->
	<h4>
		<%= @commandment %> <h2><strong><%= @bandname.upcase %></strong></h>
	</h>
</div>