<center>
<h1>Editing Word</h1>
<br><br>

<%= render 'form' %>

<br><br><br>
<%= link_to("GENERATE NEW BAND NAME", welcome_index_path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("ADD NEW WORDS", words_new_path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("VIEW WORD LIST", words_path) %>
</center>