<div class="wordlist">


	<h1 id="notice"><%= notice %></h>

<h2 style="color: green">
  <strong>Word:</strong>
  <%= @word.word %>
</h>

<h2 style="color: green">
  <strong>Position:</strong>
  <%= @word.position %>
</h>

</div>